/* THEMES */

:root{
    --background-color: white;
    --color: #0f2b3e;



    --button-color: #0f2b3e; 
    --button-text-color: white;
    --button-hover-color: #123349;
    --button-pressed-color: #091d2b;
    --button-toggled-color: #8dc0f4;
    


    --cell-size: 30px;
    --cell-font-size: 1.15em;

    --cell-color: #0f2b3e;
    --cell-hover-color: #233c4d;
    --cell-pressed-color: #152c3b;

    --cell-revealed-color: #f3fcfc;
    --cell-revealed-hover-color: #e3ecec;
    --cell-revealed-pressed-color: #d2dada;

    --cell-flagged-color: #ef9f99;
    --cell-flagged-hover-color: #da8c87;
    --cell-mine-color: blueviolet;


    --cell-border: 0 solid #243e50;
    --cell-revealed-border-color: #c0c1c4;
    --cell-flagged-border-color: #da8c87;
    --cell-border-top-width: 1px;
    --cell-border-left-width: 1px;


    --cell-1: #4e71e2;
    --cell-2: #189e45;
    --cell-3: #de6742;
    --cell-4: #7a41d4;
    --cell-5: #e29a4e;
    --cell-6: #4eb8e2;
    --cell-7: #26292b;
    --cell-8: #5f6265;
}

.basic{
    --background-color: white;
    --color: black;

    --button-color: #ebecee;
    --button-text-color: black;
    --button-hover-color: #dcdddf;
    --button-pressed-color: #b7b9bb;
    --button-toggled-color: #8dc0f4;
    
    --cell-size: 30px;
    --cell-font-size: 1.05em;

    --cell-color: #d1d2d4;
    --cell-hover-color: #c4c5c7;
    --cell-pressed-color: #b1b2b5;
    --cell-revealed-color: #edeef0;
    --cell-flagged-color: #ef9f99;
    --cell-mine-color: blueviolet;

    --cell-border: 0 solid #c0c1c4;
    --cell-revealed-border: 0 solid #c0c1c4;
    --cell-border-top-width: 1px;
    --cell-border-left-width: 1px;

    --cell-1: #4e71e2;
    --cell-2: #189e45;
    --cell-3: #de6742;
    --cell-4: #7a41d4;
    --cell-5: #e29a4e;
    --cell-6: #4eb8e2;
    --cell-7: #26292b;
    --cell-8: #5f6265;
}

.black-and-white{
    --background-color: white;
    --color: black;

    --button-color: black;
    --button-text-color: white;
    --button-hover-color: #1a1a1a;
    --button-pressed-color: #272727;
    --button-toggled-color: #8dc0f4;

    --cell-size: 33px;
    --cell-font-size: 1.1em;

    --cell-color: #212224;
    --cell-hover-color: #414246;
    --cell-pressed-color: #56575a;
    --cell-revealed-color: #000000;
    --cell-flagged-color: #da746d;
    --cell-mine-color: blueviolet;

    --cell-border: 0 solid #2b2c31;
    --cell-revealed-border: 0 solid #2b2c31;
    --cell-border-top-width: 1px;
    --cell-border-left-width: 1px;

    --cell-1: #9aace6;
    --cell-2: #8edaa7;
    --cell-3: #e6957d;
    --cell-4: #b18fe7;
    --cell-5: #e6b887;
    --cell-6: #92cfe7;
    --cell-7: #f8f8f8;
    --cell-8: #b2b2b3;
}








*{
    font-family: "Sniglet", sans-serif;
}

body{
    user-select: none;
    margin: 0;

    background-color: var(--background-color);
    color: var(--color);
    
    /*background-color: #f8f8fa;*/
}

#display-bar{
    width: 200px;
    height: 100%;

    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-110%, -50%);
}

#display-bar-text{
    font-size: 2.5em;

    display: flex;
    gap: 8px;
}

#display-bar-text img{
    height: 1.25em;
}

#display-bar-text>.multilayered-icon{
    width: 1.25em;
}

.multilayered-icon{
    display: grid;
}

.multilayered-icon>*{
    grid-row: 1;
    grid-column: 1;
}

#time-hand-icon{
    transition: 0.25s linear;
    transform-origin: 49% 59%;
}

#display-bar button{
    padding: 10px;
    width: 100%;

    border: 0;
    background-color: var(--button-color);
    color: var(--button-text-color);

    text-align: center;
    font-size: 1.5em;
}

#display-bar button:hover{ background-color: var(--button-hover-color); }
#display-bar button:active{ background-color: var(--button-pressed-color); }

#display-bar button>img{
    height: 100%;
}

#display-bar>.flexbox{
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
}

.flexbox{
    display: flex;
}

#container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#map{
    display: grid;
}

#map>button{
    width: var(--cell-size);
    height: var(--cell-size);

    padding: 0;

    border: var(--cell-border);
    border-top-width: var(--cell-border-top-width);
    border-left-width: var(--cell-border-left-width);
    background-color: var(--cell-color);

    font-size: var(--cell-font-size);
}
#map>button:hover{ background-color: var(--cell-hover-color); }
#map>button:active{ background-color: var(--cell-pressed-color); }

#map>button.revealed{
    background-color: var(--cell-revealed-color); 
    border-color: var(--cell-revealed-border-color);
}
#map>button.revealed:hover{ background-color: var(--cell-revealed-hover-color); }
#map>button.revealed:active{ background-color: var(--cell-revealed-pressed-color); }

#map>button.flagged{ background-color: var(--cell-flagged-color); border-color: var(--cell-flagged-border-color); }
#map>button.flagged:hover{ background-color: var(--cell-flagged-hover-color); }

#map>button.mine{ background-color: var(--cell-mine-color); border: 0; }

#map>button[value='1']{ color: var(--cell-1); }
#map>button[value='2']{ color: var(--cell-2); }
#map>button[value='3']{ color: var(--cell-3); }
#map>button[value='4']{ color: var(--cell-4); }
#map>button[value='5']{ color: var(--cell-5); }
#map>button[value='6']{ color: var(--cell-6); }
#map>button[value='7']{ color: var(--cell-7); }
#map>button[value='8']{ color: var(--cell-8); }

#jumpscare{
    position: fixed;
    width: 100%;
    height: 100%;

    object-fit: cover;
}





/* Config menu */

#panel-toggle{
    position: fixed;
    right: 0%;
    bottom: 0%;

    width: 50px;
    height: 50px;

    font-size: 25px;

    background: none;
    border: none;

    cursor: pointer;
}

#panel{
    position: fixed;
    width: 100%;
    height: 100%;
}

.dim-screen{
    opacity: 0.5;
    background-color: black;

    width: 100%;
    height: 100%;

    transition: 0.2s;
}

#panel-main{
    background-color: #fff;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 500px;
    height: 300px;

    padding: 25px;
}

#panel-main label{
    font-size: 1.8em;
}

#panel-main button{
    padding: 8px 15px;

    width: 100%;

    border: 0;
    background-color: var(--button-color);

    font-size: medium;
}

#panel-main button:hover, select:hover{ background-color: var(--button-hover-color); }
#panel-main button:active, select:active{ background-color: var(--button-pressed-color); }

#panel-main button.toggled{ background-color: var(--button-toggled-color); }

select{
    margin-left: 15px;
    padding: 8px 15px;

    border: 0;
    background-color: var(--button-color);

    font-size: 1.6em;
    color: var(--button-text-color);
}




/* Confetti */
#confetti-container>*{
    position: fixed;
    bottom: 0;
}